.container-title{
    background-color: rgb(29 78 216);
    padding:20px;
    font-size: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    .title{
       font-weight:bold;
         color:white;
    }
}