.container-footer{
    background-color:#127475;
    padding:20px;
    display:flex;
    align-items:center;
    justify-content:center;

    .title-footer{
        color:#FFF;
        font-weight:bold;
        font-size: 20px;
    }
}